
.Candidates {
    margin: 20% auto auto auto;
    width: 80%;
}
.Candidates > div {
    margin: 2%;
    padding-top: 2%;
    display: inline-block;
    width: 36%;
    border-radius: 3px;
    text-align: center;
    justify-self: center;
    font-family: 'Roboto', sans-serif;
}
.imgFilter{
    height: 55%;
    width: 55%;
}
.returnBtn{
    background-color: white;
    height: 3em;
}