.Candidates {
    align-items: center;
    grid-template-rows: 10% 75% 10%;
    grid-template-columns: 100%;
    height: 100vh;
    width: 100%;
    display: grid;
}
.companyLogo {
    grid-column-start: 1;
    grid-row-start: 1;
    width: 12%;
    justify-self: end;
    margin-right: 30px;
}
.filterContainer {
    font-size: 21px;
    color: #000000;
    text-align: center;
    grid-column-start: 1;
    grid-row-start: 2;
    align-self: center;
    width: 65%;
    justify-self: center;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}
.imgFilter{
    width: 25%;
    float: left;
    align-self: center;
    margin: 15px;
    margin: auto;
}
.returnBtnContainer {
    grid-column-start: 1;
    grid-row-start: 3;
    justify-self: center;
    align-self: center;
}
.returnBtn {
    background-color: #F27E63;
    border: none;
    border-radius: 7px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 25px;
    text-align: center;
    width: auto;
    margin: 30px;
}