body{
    background-color: #04BF9D;
}

.home {
    margin-top: 20%;
    display: grid;
}
.home > div {
    background-color: white;
    margin: 2%;
    width: 20%;
    height: 2rem;
    padding-top: 2%;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    justify-self: center;
    font-family: 'Roboto', sans-serif;
}

