table {
    border-spacing: 0;
    width: 80%;
    border: 1px solid #ddd;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    
  }
   
  th {
    cursor: pointer;
  }
   
  th, td {
    text-align: left;
    padding: 16px;
  }
   
  tr:nth-child(even) {
    background-color: #f2f2f2
  }


  .juniorDiv{
    background: white;

    width: 100%;


  }

  .titlejunior{
    
    width: 800px;
    height: 100px;
    left: 0px;
    margin-top: 30px;
    background: #8346B4;

    font-size: 25px;
    
    text-align: right;
    color: #FFFFFF;
    padding: 20px;
        
  }

.btnRtnDataFilter{

    background: #04BF9D;
    border: none;
    border-radius: 7px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 25px;
    text-align: center;
    width: auto;
    margin: 30px;

}

.btnRtnDiv{
    float:right;
    margin:1%;
}

.companyLogo{
    float:right;
    margin-top: 0%;
}